*{
  box-sizing: content-box;
}


.App{
  background-color: rgb(24, 5, 95);
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock{
  background-color: rgba(0, 0, 0, 0.262);
  height: fit-content;
  font-family: 'Times New Roman', Times, serif;
  color: wheat;
  text-align: center;
  padding: 20px;
}

header{
  font-size: 35px;
  padding: 25px 0px;
}

.length-control-elements{
  width: 33%;
}

.timer{
  border: 8px solid rgb(10, 28, 130);
  border-radius: 100%;
  width: 40%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button{
  background-color: transparent;
  border: 0px;
  color: wheat;
}

.button:hover{
  background-color: rgba(29, 19, 122, 0.447);
}




@media screen and (max-width: 767px) {
  header{
    font-size: 25px;
  padding: 10px 0px;
  }
  .timer{
    border: 8px solid rgb(10, 28, 130);
  border-radius: 100%;
  width: 40%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  }
}